<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SMSlink" enabled="true" stopProcessing="true">
                    <match url="^V2/\?V=([0-9a-f]{8}[-][0-9a-f]{4}[-][0-9a-f]{4}[-][0-9a-f]{4}[-][0-9a-f]{12})&amp;VstCode=([0-9]{11})" />
                    <action type="Redirect" url="#!/V2/\?V={R:1}&amp;VstCode={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
